.about {
    display: block;
    width: 90%;
    margin: 10px auto;
    background-color: white;
    padding: 20px;
    text-align: justify;
    font-size: 120%;

    h1 {
        margin-top: 0;
        text-align: center;
        font-size: 160%;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}
