.btn {
    padding: 5px 4px;
    background-color: transparent;
    @include border-radius(4px);
    text-transform: uppercase;
    margin-right: 5px;
}

.btn-outline {
    border: solid 1px $color-accent;
    color: $color-accent;
}

.btn-danger {
    border: solid 1px $color-danger;
    color: $color-danger;
}

.btn-info {
    border: solid 1px $color-info;
    color: $color-info;
}

.btn-right {
    margin-right: 0;
}

.block {
    width: 100%;
}

.button {
    &.details {
        line-height: 1em;
    }
    .button-small {
        display: block;
        font-size: 60%;
    }
}
