.countdown-wrapper {
    position: relative;
    text-align: center;
    color:$color-accent;

    .countdown-canvas {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 30px;
    }

    .countdown-text {
        position: absolute;
        top:0;
        display:block;
        width:100%;
        color:$color-accent;
        text-align:center;
        font-family:sans-serif;
        font-size:350%;
        font-weight:700;
    }

    .countdown-label {
        display: block;
        margin-top: 40px;
        font-size: 180%;
    }

    .countdown-plate {
        display: block;
        font-size: 60%;
        font-weight: 600;
    }
}
