.datetime {
    input {
        margin-bottom: 20px;
        width: 100%;
    }
    .display {
        text-align: center;
        margin-bottom: 20px;
        .icon {
            font-size: 200%;
            background-color: $color-accent;
            color: white;
            border-radius: 100%;
            padding: 0;
            width: 30px;
            height: 30px;
            line-height: 30px;
            &.disabled {
                opacity: .6;
            }
        }
        span {
            @include border-radius(3px);
            display: inline-block;
            min-width: 42px;
            padding: 11px 8px;
            margin: 0 13px;
            background-color: $color-accent;
            color: white;
            font-size: 260%;
            font-weight: bold;
            text-align: center;
            &.colon {
                position: relative;
                &:after {
                    content: ":";
                    position: absolute;
                    top: 0;
                    left: -19px;
                    color: $color-accent;
                    font-size: 110%;
                    line-height: 180%;
                    vertical-align: bottom;
                }
            }
        }
        &.min {
            span {
                padding: 9px 6px;
                margin: 0 8px;
            }
        }
    }
    .title {
        display: block;
        margin-left: -20px;
        margin-bottom: 10px;
        font-size: 140%;
        color: $color-accent;
    }
}

.datepicker-wrapper {
    display: block;
    width: 100%;
    .react-datepicker {
        width: 100%;
        .react-datepicker__day-name, .react-datepicker__day {
            width: 12%;
        }
    }
}
