.dialog-toolbar {
    padding-top: 20px;
}

.dialog-content {
    margin: 20px;
    p {
        opacity: 0.5;
    }
}

.dialog-huge {
    .dialog-container {
        width: 90%;
        padding: 20px;
    }
}
