.form {
    input {
        color: $color-gray;
    }
    .block {
        width: 100%;
        input {
            width: 100%;
        }
    }
    .huge {
        width: 100%;
        input {
            font-size: 180%;
            font-weight: bold;
            padding-bottom: 10px;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.login {
    display: block;
}
