$light: lighten($color-accent, 15%);
$lighten: lighten($color-accent, 30%);
$color-discount: #CD0A2E;
$light-discount: lighten($color-discount, 15%);
$lighten-discount: lighten($color-discount, 30%);

.receipt {
    padding: 20px 10px;
    font-size: 14px;
    font-family: "Open Sans";

    [class*="page"] {
        background-color: $color-accent!important;
    }

    .hd {
        background-color: darken($color-accent, 8%);
        padding: 10px 0;
        text-align: center;

        .parkme {
            display: inline-block;
            width: 200px;
            height: 83px;
            background-image: url(/images/parkme.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 200px auto;
            &.min {
                height: 50px;
                width: 153px;
                background-size: auto 50px;
                margin: 0 10px;
            }
        }

        .bradesco {
            display: inline-block;
            height: 50px;
            width: 189px;
            margin: 0 10px;
            background-image: url(/images/bradesco.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 50px;
        }
    }

    .body {
        .loading, .user {
            margin: 15px 10%;
            padding-bottom: 10px;
            color: $lighten;
            border-bottom: solid 2px $light;
            font-size: 160%;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
        }

        .plate {
            color: white;
            font-size: 90%;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
        }

        .auth {
            display: block;
            width: 100%;
            margin: 10px 0 50px;
            padding-top: 55px;
            background-image: url(/images/check.png);
            background-repeat: no-repeat;
            background-position: top center;
            text-align: center;

            .message {
                font-size: 160%;
                color: white;
                text-transform: uppercase;
                font-weight: bold;
            }

            .details {
                margin-top: 5px;
                // color: $light;
                color: white;
                font-size: 100%;
                font-weight: 400;
            }

            .bill {
                margin-top: 20px;
                .currency {
                    font-size: 160%;
                    color: $light;
                    font-weight: bold;
                }
                .value {
                    padding-left: 7px;
                    font-size: 350%;
                    color: white;
                    font-weight: bold;
                }
                .type {
                    .title {
                        display: block;
                        font-size: 120%;
                        font-weight: 600;
                        color: white;
                        text-transform: uppercase;
                    }
                }
            }

            .parking {
                margin-top: 20px;
                .street {
                    font-size: 100%;
                    color: white;
                    font-weight: bold;
                }
                .boxes {
                    display: block;
                    margin-top: 10px;
                    color: white;
                    .details {
                        margin-top: 0;
                        margin-bottom: 5px;
                    }
                    .box {
                        display: inline-block;
                        padding: 5px 8px;
                        margin: 0 6px;
                        @include border-radius(2px);
                        background-color: lighten($color-accent, 10%);
                        .date {
                            font-size: 120%;
                        }
                        .hour {
                            font-weight: bold;
                            font-size: 160%;
                        }
                    }
                }
            }

            .nav {
                margin-top: 20px;
                text-align: center;
                font-weight: bold;
                span {
                    background-color: white;
                    padding: 10px 40px;
                    @include border-radius(20px);
                    .ons-icon {
                        position: relative;
                        top: 1px;
                        font-size: 120%;
                        vertical-align: inherit;
                        margin-right: 5px;
                    }
                }
            }

            .info {
                margin-top: 30px;
                font-size: 80%;
                color: $light;
                .title {
                    color: white;
                    font-weight: bold;
                }
                a {
                    color: $light;
                }
            }
        }
    }

    &.discount {
        [class*="page"] {
            background-color: $color-discount!important;
        }

        .hd {
            background-color: darken($color-discount, 8%);
        }

        .body {
            .loading, .user {
                border-bottom: solid 2px $light-discount;
            }

            .auth {
                .bill {
                    .currency {
                        color: $light-discount;
                    }
                }

                .parking {
                    .boxes {
                        .box {
                            background-color: lighten($color-discount, 10%);
                        }
                    }
                }

                .info {
                    color: white;
                    a {
                        color: white;
                    }
                }
            }
        }
    }

    h2 {
        font-style: italic;
        font-size: 21px;
        line-height: 20px;
        font-weight: 600;
    }

    h3 {
        line-height: 26px;
        font-size: 20px;
    }

    h4 {
        margin-bottom: 0;
        margin-top: 15px;
    }

    p {
        margin: 0;
    }

    em {
        text-decoration: underline;
    }
}
