.page__content { background-color: $color-bg-page!important; }
.list__header { padding-top: 30px; }
.list__item--material { min-height: auto!important; }

.list__item__center {
    display: block;
    padding: 5px 0 5px;
}

.list__item__title {
    color: $color-light;
    font-size: 135%;
    font-weight: 500;
    line-height: 25px;
    vertical-align: top;
}

.list__item__subtitle {
    font-size: 100%;
    line-height: 12px;
}

.navigation-bar {
    background-color: $color-accent;
    .navigation-bar__title {
        color: $color-toolbar;
    }
    .back-button {
        color: $color-toolbar;
        .back-button__label {
            font-size: 140%;
        }
    }
}

.range__left {
    position: relative;
    top: 17px;
    background-color: $color-accent;
    height: 2px;
}
