.text-center { text-align: center; }
.text-success { color: $color-success; }
.text-danger { color: $color-danger; }
.uppercase { text-transform: uppercase; }
.inline-link { color: $color-accent; }
.no-margin { margin: 0!important; }

.icon-about {
    color: white;
    margin-right: 10px;
    font-size: 200%;
}

.link {
    display: inline-block;
    margin: 15px;
    color: $color-accent;
    font-size: 130%;
}


.header {
    position: relative;
    padding: 10px;
    padding-left: 140px;
    line-height: 20px;
    min-height: 110px;
    background-color: white;
    &:after {
        position: absolute;
        top: 10px;
        left: 10px;
        content: " ";
        background-image: url("/images/logo.svg");
        background-size: 103px 103px;
        width: 103px;
        height: 103px;
    }
    .street-info {
        text-align: right;
        a {
            display: inline-block;;
            margin-top: 10px;
        }
    }
}

.list {
    .title {
        line-height: 30px;
    }
    .value {
        color: $color-gray;
        font-size: 120%;
    }
    .icon-big {
        font-size: 20px;
    }
    .huge {
        font-weight: bold;
        font-size: 140%;
    }
    .icon-baseline { vertical-align: baseline; }
}

section.content {
    width: 80%;
    margin: 20px auto 0;
    &.medium {
        width: 60%;
    }
    &.small {
        width: 40%;
    }
    &.tiny {
        width: 20%;
    }
}
