/** Fonts **/
$font-size: 12px;
$font-family: "Arial", sans-serif;
$font: $font-size $font-family;

/** Colors **/

$color-base: black;
$color-accent: #3a95f2;
$color-light: lighten($color-base, 20%);
$color-gray: lighten($color-base, 30%);
$color-toolbar: white;
$color-bg-page: #f2f1f6;
$color-success: #5cb85c;
$color-danger: #d9534f;
$color-info: #f0ad4e;
